fastapi
uvicorn
pydantic
python-dotenv
supabase
aiohttp
litellm
prefect
supabase
instructor
openai
beautifulsoup4
httpx
pypdf
sqlalchemy
pyopenstates
python-dateutil
six
sentry-sdk[fastapi]
sendgrid
litellm>=1.0.0
eval_type_backport
-e ../packages/llm-common
prefect>=2.0.0
