fastapi
uvicorn
sqlalchemy
pydantic
python-dotenv
supabase
instructor
openai
beautifulsoup4
httpx
pypdf
pyopenstates
python-dateutil
six
sentry-sdk[fastapi]
sendgrid
litellm>=1.0.0
eval_type_backport
-e ../packages/llm-common
